/* Global styles */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    padding-top: 70px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    flex: 1;
}
 
/* Custom Navbar Background */
.navbar {
    padding: 1rem;
}

.navbar.bg-dark {
    background-color: rgba(248, 249, 250, 0.566);
} 

/* Hero Section */
#hero {
    position: relative;
    height: 100vh;
    background: url('./image_source/Hero_Sectiom_coverImage.jpg') no-repeat center center/cover;
    color: white;
    padding: 150px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Dark background with 50% opacity */
    z-index: 1;
}

#hero .container {
    position: relative;
    z-index: 2; /* Ensure the content is above the overlay */
}

#hero h1, #hero p {
    z-index: 2;
}

#hero a.btn {
    margin-top: 20px;
    z-index: 2;
}

/* Skills Section */
#skills .col-md-4 {
    margin-bottom: 20px;
}

/* Responsive Project Cards */
.card img {
    height: 200px;
    object-fit: cover;
}

.card a {
    color: inherit;
    text-decoration: none; 
}

.card:hover {
    color: inherit; /* Maintain the text color on hover */
}

footer {
    position: relative; /* or static */
    z-index: 1000; /* High z-index to stay on top */
    background-color: #343a40; /* Dark background for visibility */
    color: white; /* Text color for contrast */
    padding: 1rem 0; /* Top and bottom padding */
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    #hero h1 {
        font-size: 2rem;
    }
}
@media (max-width: 576px) {
    .navbar {
        padding: 0.5rem; /* Less padding on small screens */
    }
    footer {
        position: relative; /* Adjusts position for smaller screens */
        padding: 1rem; /* Ensure enough padding for touch targets */
        font-size: 0.9rem;
    }
}
